@charset "utf-8";
/* CSS Document */
html, body{
	background: #EFEFEF;
}
a{
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
   -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
   -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.top_m{
	background:;
	border-radius: 0px;
	margin-bottom:-8px;
}
.top_m a{
	font-weight: bold;
}

.jumbotron{
	padding:20px;
	background:#FFF;
	border-bottom:1px #EFEFEF;
}
.footer{
	padding:30px;
	width:100%;
	background: #2fa4e7;
	position: absolute;
	bottom: 0px;
	border-top: 2px #FFF;
	color: #fff;
	font: 24px 600;
	text-shadow: 0 0 1px #000;
}

#mediaplayer{
	padding:30px;
	margin-top:30px;
}

a.facebook_btn{
	background:#36C;
	padding:12px;
	color:#EFEFEF;
	width:130px;
	border-radius: 4px 0px 0px 4px;
	font-weight:bold;
	font-size:16px;
	position:absolute;
	right:0px;
	margin-top:5px;
	text-shadow:0 0 1px #000;
}
.facebook_btn span{
	padding-right:20px;
}

a.facebook_btn:hover{
	color:#FFF;
	text-decoration:none;
	background: #09F;
}